/*body*/
body {
	background: url("../images/body.jpg");
	background-color: #f2f2f2;
}
/*navbar*/
.navbar {
	background: rgba(0, 0, 0, 0.1);
	position: relative;
	padding-top: 10px; 
	padding-bottom: 5px;  
	display: block;
	border: none;
}
.nav > li {
	border-radius: 80px !important;
}

.nav > li > a {
	color: #ffffff !important;
}

.nav > li > a:hover, .nav > li > a:focus {
	background: rgba(0, 0, 0, 0) !important;
	background-color: rgba(0, 0, 0, 0) !important;
	color: #00e6e6 !important;
}

.nav > li.active > a, .nav > li.active > a:focus, .nav > li.active > a:hover{
	color: #00e6e6 !important;
	background-color: rgba(0, 0, 0, 0) !important;
	background: rgba(0, 0, 0, 0) !important;
}

.nav > li:active {
	background-color: rgba(0, 0, 0, 0.1) !important;
	background: rgba(0, 0, 0, 0.1) !important;
}

.brand{
	padding-left: 20px; 
}

.brand > img {
	width: 80px; 
	position: relative;	
}

.nav, .navbar-form {
	position: relative;
	padding-top: 10px;
	padding-left: 40px; 
	display: inline-block;
}

.dropdown > a > img {
	height: 30px; 
	width: 30px; 
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-menu {
	color: #000000;
	background-color: #ffffff;
}

.dropdown-menu > li > a {
	color: #000000; 
}	

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #ffffff;
	color: #1aa3ff;
 }

 input[name=search] {
 	border-color: #ffffff;
 	border-radius: 15px; 
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	background-color: #ffffff;
 }

 .input-group-btn > button {
 	border-color: #ffffff;
 	border-radius: 30px; 
 	margin: none;
 	background-color: #ffffff;  
 }

 .glyphicon-search {
 	color: #008ae6;
 }