/*holder-panel*/
.holder-panel {
	border-top: solid 2px #cccccc;
}

.holder-panel > .panel-body {
	background-color: #f2f2f2 !important;
}

 .holder-panel > .panel-heading {
  	background-color: #ffffff !important;
  	color: #000000;
  	text-transform: uppercase;
  	font-weight: bolder;
}

.holder-panel > .panel-heading > img {
	position: relative;
}

/*leads*/
.lead-panel > .panel-heading > .btn-group {
    position: relative;
    top: -5px;
}
.lead-panel > .panel-heading {
	cursor: pointer;
	background-color: #ffffff;
}

.lead-panel > .lead-info {
	background: #f2f2f2;
}

.leads > .holder-panel {
	position: relative;
	height: 500px;
}

.lead-label {
	font-weight: bolder;
}

.lead-info > table > tbody {
	margin-top: 0;
	border-top: none;
}

.no-lead > h2 {
	padding-top: 150px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: -1px -1px 1px #e6e6e6, 1px 1px 1px #e6e6e6;
	color: #e6e6e6;
	font: 50px 'LeagueGothicRegular';
}

.scrollable {
	overflow-y: scroll;
	max-height: 500px;
	min-height: 450px;
}

}
/*missed-calls*/
.calls > .holder-panel {
	position: relative;
	height: 200px;
}

.missed-calls {
	overflow-y: scroll;
	min-height: 155px;
	max-height: 155px;
}

.missed-calls > li {
	height: 55px;
	display: block;
}

.missed-calls > li:hover, .missed-call > li:focus {
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
}

.missed-calls > li > .button-holder {
	top: -20px;
	position: relative;
}

.missed-calls > li > .missed-call-info {
	position: relative;
	width: 200px;
}

/*unread msgs*/
.msgs > .holder-panel {
	position: relative;
	height: 280px;
}

.unread-email {
	overflow-y: scroll;
	min-height: 235px;
	max-height: 235px;
}

.unread-email > li:hover, .unread-email > li:focus {
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
}

/*scroll-bar*/
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f2f2f2; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #f2f2f2;
}

/*call-modal*/
#call-modal > .modal-dialog > .modal-content > .modal-body > .row {
	border-bottom: solid 2px #f2f2f2;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*email-modal*/
.email-content {
	overflow-y: scroll;
	min-height: 280px;
	max-height: 280px;
	word-wrap: normal;
	text-align: justify;
	padding-right: 20px;
	padding-left: 10px;
}

.email-modal-info > span {
	padding-right: 10px; 
	padding-left: 10px;
}