 /*body*/
 body {
 	background: #bfbfbf;
 }

/*holder-panel*/
.holder-panel > .panel-body {
	background-color: #ffffff !important;
}

 .holder-panel > .panel-heading {
  	background-color: #262626 !important;
  	color: #f2f2f2;
  	text-transform: uppercase;
  	font-weight: bolder;
}

.holder-panel > .panel-heading > img {
	position: relative;
}

/*leads*/
.lead-panel > .panel-heading > .btn-group {
    position: relative;
    top: -5px;
}
